<div class="mainContentContainer">
    @if (isLoadingResults() || isRateLimitReached()) {
        <div class="example-loading-shade">
            @if (isLoadingResults()) {
            <mat-spinner></mat-spinner>
            }
            @if (isRateLimitReached()) {
            <div class="example-rate-limit-reached">
            API rate limit has been reached. It will be reset in one minute.
            </div>
            }
        </div>
    }
    
    <div class="mainContent">
        <div fxLayout="row" fxLayoutAlign="start center">
			<div class="mainTitle">Holiday List</div>
			<span class="example-spacer"></span>
			<span class="disableReason" *ngIf="company == null || manager == null">
				You need to register a company and manager to activate!
			</span>
			<!-- <button class="requestBtn" [disabled]="company == null || manager == null" mat-raised-button color="primary" (click)="openAddCompanyHoliday();">  -->
			<button class="requestBtn" mat-raised-button color="primary" (click)="openAddCompanyHoliday();"> 
                Add Holiday Day
            </button>
		</div>

        <div class="historyTableBox">    
            <table mat-table [dataSource]="companyHolidayList" class="mat-elevation-z8 historyTable" matSort matSortActive="createdAt" matSortDisableClear matSortDirection="desc">
                <ng-container matColumnDef="ch_name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.ch_name}} </td>
                </ng-container>

                <ng-container matColumnDef="ch_date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.ch_date | date: 'YYYY-MM-dd'}} </td>
                </ng-container>

                <ng-container matColumnDef="menu">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button
                        mat-menu-item mat-flat-button 
                        class="deleteCompanyHolidayBtn" (click)="deleteCompanyHoliday(element._id)"
                        >Delete</button>
                    </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data</td>
                </tr>
            </table>

            <mat-paginator [length]="resultsLength()" [pageSize]="pageSize()" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page"></mat-paginator>
        </div>
        
    </div>
</div>