<div class="m-10 max-w-[800px]">
  <div class="text-[22px] font-bold mb-4">Add Holiday</div>

  <form [formGroup]="addHolidayForm" novalidate>
    <div
      class="flex flex-row justify-center border-b border-solid border-[#0000001f]"
    >
      <div
        class="flex items-center rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[30%]"
      >
        <span>Holiday Name</span>
      </div>
      <mat-form-field appearance="outline" class="flex-1 pt-[21px] pl-2">
        <mat-label>Holiday Name</mat-label>
        <input matInput type="text" formControlName="holidayName" />
        <mat-error
          *ngIf="addHolidayForm.controls['holidayName'].hasError('required')"
        >
          Please enter holiday name.
        </mat-error>
      </mat-form-field>
    </div>

    <div
      class="flex flex-row justify-center border-b border-solid border-[#0000001f]"
    >
      <div
        class="flex items-center rounded-[5px] m-1 p-[16px] text-white font-bold bg-[#00154f] flex-1 max-w-[30%]"
      >
        <span>Holiday Date</span>
      </div>
      <mat-form-field appearance="outline" class="flex-1 pt-[21px] pl-2">
        <mat-label>Holiday Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="holidayDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error
          *ngIf="addHolidayForm.controls['holidayDate'].hasError('required')"
        >
          Please enter holiday date.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-row justify-center items-center gap-5 mt-8">
      <button
        mat-raised-button
        color="primary"
        (click)="addHoliday()"
        [disabled]="addHolidayForm.invalid"
      >
        Request
      </button>
    </div>
  </form>
</div>
