<div>Leave Request Details</div>
<table>
  <tbody>
    <tr>
      <th>Status</th>
      <td
        [ngClass]="{
          approve: data.status == 'approve',
          reject: data.status == 'reject'
        }"
      >
        {{ data.status | titlecase }}
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <td>
        {{ data.requestorName }}
      </td>
    </tr>
    <tr>
      <th>Request day</th>
      <td>
        {{ data.createdAt | date : "YYYY-MM-dd" }}
      </td>
    </tr>
    <tr>
      <th>Leave type</th>
      <td>
        {{ viewType[data.leaveType] }}
      </td>
    </tr>
    <tr>
      <th>Period</th>
      <td>
        {{ data.leave_start_date | date : "YYYY-MM-dd" }} ~
        {{ data.leave_end_date | date : "YYYY-MM-dd" }} ({{
          data.leaveDuration
        }}
        days)
      </td>
    </tr>
    <tr>
      <th>Leave of used</th>
      <td>{{ data.leaveDuration }} days</td>
    </tr>
    <tr>
      <th>Reason</th>
      <td>
        {{ data.leave_reason }}
      </td>
    </tr>
    <tr *ngIf="data.rejectReason">
      <th>Reject reason</th>
      <td [ngClass]="{ reject: data.status == 'reject' }">
        {{ data.rejectReason }}
      </td>
    </tr>
    <tr *ngIf="data.approver">
      <th>Confirmor</th>
      <td>
        {{ data.approver }}
      </td>
    </tr>
  </tbody>
</table>

<div class="button">
  <button mat-raised-button mat-dialog-close>Confirm</button>
</div>
