.mainContentContainer {
  padding: 40px 40px;
  margin: 0 auto;
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.mainTitle {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.historyTableBox {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  // min-width: 1200px;
  width: 100%;
}

.historyTable {
  width: 100%;
  text-align: center;

  th {
    text-align: center;
  }

  box-shadow: none;
}

.mat-header-row {
  background-color: #00154F;

  th {
    color: #fff;
  }
}

.filter {
  background-color: #fff;
}

.backBtn {
  background: #F4AF1B;
  color: #fff;
  width: 100px;
}

.editBtn {
  background: #00154F;
  color: #fff;
  width: 100px;
}

.employeeBtn {
  background: #00154F;
  color: #fff;
  width: 100px;
}

.tableUpper {
  position: relative;
  padding: 0 20px;
}

.filterDiv {
  padding-left: 10px;
  width: 250px;
}

.excelBtn {
  background: #00154F;
  color: #fff;
  // width: 130px;
  align-content: center;
  margin: 0 5px;

}

.excelBox {
  padding: 10px;
  background: #c3c4c9;
  border-radius: 5px;
}



@media screen and (max-width: 780px) {

  .mainContentContainer {
    padding: 10px 10px;
  }

  .mainTitle {
    margin: 20px auto;
  }

  .tableUpper {
    display: flex;
    padding: 0 0;
    flex-direction: column !important;
  }

  .excelBox {
    max-width: 100%;
    padding: 0 25px;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    font-size: 0.7em;
    display: block;
    white-space: pre-wrap !important;
  }


  .historyTableBox {
    word-break: break-all;


    th {
      padding: 3px 5px;
    }

    td {
      padding: 3px 5px;
      font-size: 0.7em;

      button {
        width: 100%;
        font-size: 0.9em;
        padding: 0;
      }
    }
  }

  .excelContent {
    button {
      margin: 10px !important;
    }
  }

}