<div class="flex items-center justify-between m-10">
  <div class="text-[22px] font-bold mb-4">Dashboard</div>
</div>

<div class="m-10 bg-white shadow rounded h-[200px] flex">
  <div class="mt-[70px] ml-10 text-[30px]">
    Welcome. Today is
    <span class="font-bold">{{ date | date : "YYYY.MM.dd." }}</span>
  </div>
  <mat-icon class="ml-auto text-[200px] w-[200px] h-[200px] text-[#3f51b5]"
    >alarm</mat-icon
  >
</div>

<div class="flex flex-row flex-wrap gap-10 m-10 h-[200px]">
  <div class="flex flex-col flex-1 bg-white shadow rounded">
    <div class="flex flex-row">
      <div class="text-[45px] font-bold mt-8 ml-16">{{ companyEmployee }}</div>
      <div class="ml-auto mr-16 mt-9">
        <mat-icon class="text-[60px] w-[60px] h-[60px] text-[#636363]"
          >groups</mat-icon
        >
      </div>
    </div>
    <div class="font-bold mt-auto mb-8 ml-16">Company Employee(s)</div>
  </div>
  <div class="flex flex-col flex-1 bg-white shadow rounded">
    <div class="flex flex-row">
      <div class="text-[45px] font-bold mt-8 ml-16">
        {{ companyRetiredEmployee }}
      </div>
      <div class="ml-auto mr-16 mt-9">
        <mat-icon class="text-[50px] w-[50px] h-[50px] text-[#636363]"
          >work_off</mat-icon
        >
      </div>
    </div>
    <div class="font-bold mt-auto mb-8 ml-16">Company Retired Employee(s)</div>
  </div>
</div>

<div class="flex flex-row flex-wrap gap-10 m-10 h-[200px]">
  <div class="flex flex-col flex-1 bg-white shadow rounded">
    <div class="flex flex-row">
      <div class="text-[45px] font-bold mt-8 ml-16">
        {{ employmentCountractRequest }}
      </div>
      <div class="ml-auto mr-16 mt-9">
        <mat-icon class="text-[60px] w-[60px] h-[60px] text-[#636363]"
          >person_add</mat-icon
        >
      </div>
    </div>
    <div class="font-bold mt-auto mb-8 ml-16">
      Employment Contract Request(s)
    </div>
  </div>
  <div class="flex flex-col flex-1 bg-white shadow rounded">
    <div class="flex flex-row">
      <div class="text-[45px] font-bold mt-8 ml-16">{{ holiday }}</div>
      <div class="ml-auto mr-16 mt-9">
        <mat-icon class="text-[60px] w-[60px] h-[60px] text-[#636363]"
          >date_range</mat-icon
        >
      </div>
    </div>
    <div class="font-bold mt-auto mb-8 ml-16">Holiday(s)</div>
  </div>
</div>
